.business-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    margin-top: calc(50vh - 75px); /* Centers the card vertically */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  